# top-most EditorConfig file
root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 4

[*.bpf.c]
indent_style = tab
indent_size = 8

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.{diff,md}]
trim_trailing_whitespace = false

[{libtrpc,libbpf}/**.{c,h}]
indent_style = tab
indent_size = 8
